
h2 Add Challenge Estimates

form(name="challengeForm", ng-submit="vm.submit()")
  div(ng-form="challengesForm")
    label Challenge Type
    select(name = "Type", ng-model = "vm.challenge.requestType", required)
      option(value="", disabled, selected) Type of Challenge
      option(value = "design") Design
      option(value = "code") Code

    label Challenge Risk
    select(name = "Count", ng-model = "vm.challenge.count", required)
      option(value="", disabled, selected) How Many
      option(value = 1) 1
      option(value = 2) 2
      option(value = 3) 3
      option(value = 4) 4
      option(value = 5) 5

    //- label Challenge Description
    //- input(placeholder="Enter challenge description", ng-model = "challenge.description", required)

    button(type="button", ng-click="vm.addChallenge(challenge)") +
    //- button(type="button", ng-click="vm.removeChallenge($index)") Remove

  hr
  div(ng-show="vm.challenges.length > 0")
    ul
      li(ng-repeat = "challenge in vm.challenges") {{challenge.count}} {{challenge.requestType | request}} Challenges
        a(ng-click="vm.removeChallenge($index)") remove

  label Overall Project Difficulty
  select(name = "Difficulty", ng-model = "vm.overallDifficulty", required)
    option(value="", disabled, selected) Difficulty Level
    option(value = "low") Low
    option(value = "medium") Medium
    option(value = "high") High
  button(type="submit") Continue

