@import "../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.claim-project {

  .statusModal {
    position: absolute;
    background: $black;
    opacity: 0.8;
    width: 100%;
    span {
      color: white;
    }
    a {
      color: white;
    }
  }

  header {
    background-color: $black;
  }

  main {
    background-color: $white;

    .starting-line {
      min-height      : 1px;
      margin-bottom   : 200px;
      margin-top      : -100px;
    }

    article {
      opacity   : 0;

      > * {
        margin-top: $margin-30;
      }

      @include transition(opacity 0.3s ease-in 0s);

      &.state-active {
        opacity: 1;
        @include transition(opacity 0.3s ease-in 0s);
      }

      form {
        button.submit {
          width: 280px;
          // Need to fix this due to button being in next tag
          margin-top: 30px;
        }
      }

      > button {
        width: 280px;
      }

      p {
        color: $mild-gray;
      }
    }

    button.launch {
      opacity: 0;
      height: 70px;
      margin-bottom: 800px; /* allows scrolling for large screens, need a better solution */
      @include font-line(24);
      @include transition(opacity 0.3s ease-in 0s);

      &.active {
        opacity: 1;
        @include transition(opacity 0.3s ease-in 0s);
      }
    }
  }
  div {
    @include outer-container;
    @include span-columns(6);
  }
  aside {
    @include shift(1);
    @include span-columns(5);
  }
}
