header

div(ng-show="showClaimedModal") Congratulations! You have claimed this project.
  div
    button(ui-sref="claim-project.challenges") Create Estimates
  div
    a I'll do it later

h2{{ work.name }}
div {{work.requestType | request}} Project
button(ng-click="submitClaim()") Claim Project

hr

h5 Project Description
p {{work.summary}}

h5 Similar Apps
p {{work.competitorApps}}

h5 Description of Users
p {{work.usageDescription}}

h5 Features
p {{work.features}}

h5 Visual Elements

aside(ui-view="")
