- jsFiles = []
- jsFiles.push("/src/client/app/claim-project/scripts/claim-project.module")
- jsFiles.push("/src/client/app/claim-project/scripts/claim-project.routes")
- jsFiles.push("claim-project/scripts/claim-project.controller")
- jsFiles.push("/src/client/app/claim-project/scripts/claim-project.service")
- jsFiles.push("/src/client/app/claim-project/scripts/nav.service")
- jsFiles.push("/src/client/app/claim-project/scripts/estimate.filter")
- jsFiles.push("/src/client/app/claim-project/about-project/scripts/claim.controller")
- jsFiles.push("/src/client/app/claim-project/about-project/scripts/createChallenges.controller")
- jsFiles.push("/src/client/app/claim-project/about-project/scripts/challenges.controller")
- jsFiles.push("/src/client/app/claim-project/about-project/scripts/launch.controller")
- jsFiles.push("/src/client/app/claim-project/users/scripts/users.controller")
- jsFiles.push("/src/client/app/claim-project/users/users.route")

- cssFiles = []
- cssFiles.push("claim-project/claim-project")
- cssFiles.push("claim-project/about-project/styles/claim")
- cssFiles.push("claim-project/about-project/styles/createChallenges")
- cssFiles.push("claim-project/about-project/styles/elevator-pitch")
- cssFiles.push("claim-project/about-project/styles/launch")
- cssFiles.push("claim-project/users/styles/users")

- landscapeFiles = []

- desktopFiles = []
- desktopFiles.push("claim-project/claim-project.desktop")
- desktopFiles.push("claim-project/about-project/styles/createChallenges.desktop")

