@import "work-includes";

.layout-main.project-details {
  // @include main-restricted-desktop();

  main {
    background-color: white;
    width: 100%;

    article {
      h3 {
        margin-top: 20px;
      }
    }
  }

  @include clearfix();
}
