@import "work-includes";

.layout-main.projects {
  .heading {
    button.heading {
      br {
        display: none;
      }
    }
  }

  .projectLi{
    @include span-columns(3);
    @include omega(4n);
    height: 220px;
    div {
      &:hover {
        background-color: $primary-color-darkest;
      }
    }
    button.projectLi {
      border: 1px solid white;
      background-color: $primary-color-darkest;
      border-radius: 10px;
      color: white
    }
  }
}