@import "work-includes";

copilot-projects {
  display: block;

  .heading {
    button.heading {
      br {
        display: none;
      }
    }
  }

  .projectLi{
    @include span-columns(3);
    @include omega(4n);
    height: 220px;
    div {
      &:hover {
        background-color: $primary-color-darkest;
      }
    }
  }
}