@import "work-includes";

copilot-projects {
  display: block;
  .projectLi {
    @include span-columns(3);
    @include omega(4n);
    height: 220px;
    margin-bottom: 15px;
    div {
     button {
      display: none;
     }
     &:hover{
      background-color: #454545;
      img {
        opacity: 0.1;
      }
    button {
      display: inline-block;
      border: 1px solid white;
      background-color: #454545;
      border-radius: 10px;
      color: white
    }
    }
    }
  }
}