- var bowers = []
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('a0-angular-storage/dist/angular-storage')
- bowers.push('angular-jwt/dist/angular-jwt')
- bowers.push('auth0-angular/build/auth0-angular')
- bowers.push('auth0.js/build/auth0')
- bowers.push('appirio-tech-ng-auth/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  = "\n"
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"