main
  status-modal(ng-if="vm.showClaimedModal", type="statusModal", next-view="project-details.challenges", next-step="Create Estimates")
    span Congratulations! You have claimed this project.
  //-   br
  //-   button(class="modalButton", ng-click="vm.hideClaimedModal()", ui-sref="project-details.challenges") Create Estimates
  //-   br
  //-   a(ng-click="vm.hideClaimedModal()") I'll do it later

  status-modal(class="success", type="successModal", ng-if="vm.showStatusComponent('estimated')")
    h3 Project estimate complete. Awaiting client approval.

  //- status-modal.success(ng-if="vm.showStatusComponent('launched')")
  //-   h3 Your project has been launched!

  //- .statusModal.success(ng-if="vm.showStatusComponent('launched')")
  //-   img.checkmark-green(src="projects/images/check-solid-green.svg")
  //-   h3 Your project has been launched!

  //- div(ng-modal=true)

  .detailsContainer
    h2{{ vm.work.name | cutOff}}
    h3 {{vm.work.requestType | requestType}} Project
    br
    button(ng-if="vm.projectAvailable()", ng-click="vm.submitClaim()") Claim Project
    button(ng-if="vm.showStatusComponent('claimed')", ui-sref="project-details.challenges") Create Estimates
    button(ng-if="vm.showStatusComponent('approved')", ng-click="vm.openCreateChallenges()") Create Challenges
    button(ng-if="vm.showStatusComponent('awaiting_launch')", ng-click="vm.launchProject()") Launch Project
    button(ng-if="!vm.projectAvailable()", ui-sref="messaging({ id: vm.threadId })") Message Client
    br
    br
    br
    hr
    .summary
        h5 Project Description
        p {{vm.work.summary}}

    .similarApps
        h5 Similar Apps
        ul
        p(ng-repeat="competitor in vm.work.competitorApps") {{competitor}}

    .usersDescription
        h5 Description of Users
        p {{vm.work.usageDescription}}

    .features
        h5 Features
        ul
        p(ng-repeat="feature in vm.work.features") {{feature.name}}: {{feature.description}}

    .visualElements
        h5 Visual Elements

  aside(ui-view="")


