.heading
  h1 View Projects
  button My Projects
  button Open Projects

hr

table
  tr
    th Name
    th Type
    th Date Submitted
  tr(ng-repeat= "project in vm.workRequests")
    td {{project.name}}
    td {{project.requestType}}
    td {{project.createdAt}}
    td
      button(ui-sref='submit-work.name({ id: project.id })') Details
