header

h1 Project Details

aside#submit-work-aside
  ul
    li Name: {{ work.name }}
    li Type: {{ work.requestType }}
    li Estimate: {{asideService.getEstimate() | estimate}}
    li Summary: {{work.summary}}
    li Features: {{work.features}}
    li Competitors: {{work.competitorApps}}

main(ui-view="")

