a(ng-click="vm.back()") Back

h1.messaging-page-header
  | Messaging ThreadId: {{vm.threadId}} SubscriberId: {{vm.subscriberId}} Test

messaging(thread-id="{{ vm.threadId }}" subscriber-id="{{ vm.subscriberId }}")
