.statusModal.success
  .exit
    a(ng-click="hideModal()") &times;
  .imageContainer
    img.checkmark-green(src="bower_components/appirio-tech-copilot/dist/images/check-solid-green.svg")
  .messageContainer(ng-transclude)