
ul
  li(ng-repeat= "project in vm.copilotAssignedProjects", ng-mouseenter="vm.hoverSelect($index)", ng-mouseleave="vm.hoverDeselect($index)")
    div(ng-class="{'hovered': $index == vm.active}")
      h5 Name: {{project.name}}
      h5 Id: {{project.id}}

      span.type {{project.estimate.complexity}}
      br
      //- img(src="manage/images/missing-image.svg", class="missing")
      br
      span.status {{project.status}}
      br
      button(ng-show="$index == vm.active", ui-sref='claim-project({id: project.id, status: project.status})') View Details
