
dropdown.dropdown(ng-hide="!vm.copilotAssignedProjects.length")
  .dropdown-container
    p.dropdown-button.type(ng-click="vm.toggleTypeFilterMenu()", ng-bind="vm.typeFilterValue || 'All Project Types'")
      ul.dropdown-menu.dropdown-select.type(ng-class="{'show-menu': vm.showTypeFilterMenu}")
        li(ng-repeat="typeFilter in vm.typeFilters", ng-click="vm.selectType(typeFilter)") {{typeFilter}}
//- p Sort By:
//-   a(ng-click="vm.reverseOrder()") Start Date
ul
  li(class='projectLi', ng-repeat= "project in filteredWorkRequests=(vm.copilotAssignedProjects | orderBy:'createdAt':vm.reverse | filter: vm.typeFilter)", ng-mouseenter="vm.hoverSelect($index)", ng-mouseleave="vm.hoverDeselect($index)")
    div(class="tile", ng-class="{'hovered': $index == vm.active, 'grey': project.requestType === 'code'}")
      h5 {{project.name | cutOff}}
      br
      img(src="projects/images/dev-project-icon.png", ng-class="{'faded': $index == vm.active}")
      br
      span.type {{project.requestType | requestType | uppercase }}
      br
      br
      span.created {{project.status | request}}
      br
      button(ng-show="$index == vm.active", ui-sref='claim-project({id: project.id, status: project.status})') {{project.status | statusButton}}
.noProjectsMessage(ng-show="!filteredWorkRequests.length")
  h1 You have no claimed {{vm.selectedType}} projects at this time.