
dropdown.dropdown
  .dropdown-container
    p.dropdown-button.type(ng-click="vm.toggleTypeFilterMenu()", ng-bind="vm.typeFilterValue || 'All Project Types'")
      ul.dropdown-menu.dropdown-select.type(ng-class="{'show-menu': vm.showTypeFilterMenu}")
        li(ng-repeat="typeFilter in vm.typeFilters", ng-click="vm.selectType(typeFilter)") {{typeFilter}}
p Sort By:
  a(ng-click="vm.reverseOrder()") Start Date
ul
  li(class='layout-main.projects', ng-repeat= "project in filteredWorkRequests=(vm.copilotAssignedProjects | orderBy:'createdAt':vm.reverse | filter: vm.typeFilter)", ng-mouseenter="vm.hoverSelect($index)", ng-mouseleave="vm.hoverDeselect($index)")
    div(ng-class="{'hovered': $index == vm.active}")
      h5 {{project.name}}
      h5 Type: {{project.requestType}}

      span.type {{project.estimate.complexity}}
      br
      //- img(src="manage/images/missing-image.svg", class="missing")
      br
      span.status {{project.status}}
      br
      button(ng-show="$index == vm.active", ui-sref='claim-project({id: project.id, status: project.status})') View Details
.noProjectsMessage(ng-show="!filteredWorkRequests.length")
  h1 Sorry, there are no claimed {{vm.selectedType}} projects at this time.