//- h1 Assigned Projects
//- .message(ng-if="vm.showMessage")
//-   img.checkmark-green(src="projects/images/check-solid-green.svg")
//-   span Your project has been launched.  Your co-pilot will contact you within 1 business day.

//- hr

//- ul
//-   li(ng-repeat= "project in vm.copilotAssignedProjects")
//-     div
//-       header
//-         h4 {{project.name}}

//-         span.type {{project.requestType}}

//-       .middle
//-         img(src="projects/images/missing-image.svg", class="missing")

//-       .bottom(ng-class="project.class")
//-         img.checkmark(ng-if="project.checkmark", src="projects/images/{{project.checkmark}}")

//-         span.status {{project.message}}

//-         br

//-         span.action

//-           a(ng-if="project.status == 'Incomplete'",
//-             ui-sref="submit-work.flow({ id: project.id })") Continue setup

//-           span(ng-if="project.status == 'Submitted'") Waiting for Project Approval

h1 Assigned Projects
table
  tr
    th Name
    th Type
    th Date Submitted
  tr(ng-repeat= "project in vm.copilotAssignedProjects")
    td {{project.name}}
    td {{project.requestType}}
    td {{project.createdAt}}
    td
      button(ui-sref='claim-project({ id: project.id })') Details