
ul
  li(ng-repeat= "project in vm.workRequests", ng-mouseenter="vm.hoverSelect($index)", ng-mouseleave="vm.hoverDeselect($index)")
    div(ng-class="{'hovered': $index == vm.active}")
      h5 {{project.name}}

      span.type {{project.requestType}}
      br
      //- img(src="manage/images/missing-image.svg", class="missing")
      br
      span.status {{project.createdAt}}
      br
      button(ng-show="$index == vm.active", ui-sref='claim-project({id: project.id})') View Details