h1 Open Projects
table
  tr
    th Name
    th Type
    th Date Submitted
  tr(ng-repeat= "project in vm.workRequests")
    td {{project.name}}
    td {{project.requestType}}
    td {{project.createdAt}}
    td
      button(ui-sref='claim-project({ id: project.id })') Details