.projectsHeading
  h1 Copilot Projects
  div
    button(ui-sref='view-projects.assigned') My Projects
    button(ui-sref='view-projects.open') Open Projects

  main(class="layout-main projects", ui-view="")